 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-image: url(../images/fromthesea.JPG);
}



.container {
  margin: 50px auto 0 auto;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;

  background-image: url(../images/sittingaround.JPG);


  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }

  .list {

    ul {
      list-style-type: none;
    }

    li {
      background-color: white;
      @include margin (5px 0px 5px 0px);
      @include padding (0 .5em 0 .5em);
      opacity: 0.5

    }

    a {
      text-decoration: none;
      font-weight: bold;
    }

    span {
      background-color: black;
      color: white;
      font-weight: bold;
      @include padding (0 .1em 0 .1em);
      float: right;
      border-radius: 0.5em;
      font-size: .5em;
      height: 3em;
    }


    button {
      font-weight: bold;
      color: black;
      float: right;
      font-size: .5em;
      height: 3em;
      @include margin (0 .5em 0 .5em);

      //background-color: hsla(296, 100%, 53%, 1);
    }

    li:hover {
      background-color: hsla(296, 100%, 53%, 1);
      opacity: 1;
    }

    .editform{
      opacity: 1;

      :hover{
        background-color: white;
      }

    input {
      width: 22em;
    }

    }

  }

}
