<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>A16_music</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class="hero-unit">
      <h1>Music List</h1>
      <p>This is a list of music that helps me code:</p>
      <div id='playlist' class='list'>
      </div>

      <div id='addnew'>
      </div>
    </div>




    <script id='songlist'type='text/template'>
      <li id='<%= _id %>'> <a href='<%= link %>'> <%= title %> </a> by <%= artist %>
      <span id="<%= _id %>" class='delete_btn'>  X</span>

      </li>
    </script>

    <script id='newsong' type='text/template'>
      <h2>Add a new song</h2>
        <form id="songInput"  action="index.html" method="post">
          <input id='input_title' type="text" placeholder=" Song Title">
          <input id='input_artist' type="text" placeholder=" Artist Name">
          <input id='input_link' type="text" placeholder=" Insert link">
          <p class="btn">
            <button id="button">Add New Song!</button>
          </p>
        </form>
      </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/backbone/backbone.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src='scripts/setup.js'></script>
        <script src="scripts/models/music_model.js"></script>
        <script src="scripts/collections/music_collection.js"></script>
        <script src="scripts/views/music_view.js"></script>
        <script src='scripts/views/add_views.js'></script>
        <script src='scripts/views/edit_music.js'></script>
        <script src='scripts/routes/app_router.js'></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
